@model List<PosMvc.Models.BoughtItem>
@{
    ViewBag.Title = "ShowOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3>Order List</h3>
            </div>
            <div class="panel-body">

                @if (Session["message"] != null)
                {
                    <p class="text-info">@Session["message"]</p>
                    Session["message"] = null;
                }

                @if (Model.Count == 0)
                {
                    <p>There is no order in the list</p>
                }
                else
                {
                    var i = 0;
                    <table class="table table-bordered text-center">
                        <tr>
                            <th class="col-lg-2 text-center">Serial No.</th>
                            <th class="col-lg-6 text-center">Customer Guid</th>
                            <th class="col-lg-2 text-center">Item</th>
                            <th class="col-lg-2 text-center">Quantity</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.CustomerGuid</td>
                                <td>@item.Item.Name</td>
                                <td>@item.Quantity</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
</div>